body{
    margin: 0px;
}

.apple-main{

    background-image: url('images/main.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
   
}

.main-navigation{
    display: flex;
}